<project>
    <project_name>NERM MaskingS</project_name>
    <project_owner>NERM</project_owner>
    <algorithms>
        <entity>
            <entity_name>PATIENT</entity_name>
            <original_name>PATIENT</original_name>
            <masking_type>Redact</masking_type>
        </entity>
        <entity>
            <entity_name>DOCTOR</entity_name>
            <original_name>DOCTOR</original_name>
            <masking_type>Mask</masking_type>
            <masking_class>MaskFirstNameRandomized</masking_class>
        </entity>
        <entity>
            <entity_name>MEDICALRECORD</entity_name>
            <original_name>MEDICALRECORD</original_name>
            <masking_type>Mask</masking_type>
            <masking_class>MaskPhoneRandomized</masking_class>
        </entity>
        <entity>
            <entity_name>DATE</entity_name>
            <original_name>DATE</original_name>
            <masking_type>Mask</masking_type>
            <masking_class>Mask_date_simple</masking_class>
        </entity>
		    <entity>
            <entity_name>PROFESSION</entity_name>
            <original_name>PROFESSION</original_name>
            <masking_type>Mask</masking_type>
            <masking_class>MaskJobRandomized</masking_class>
        </entity>
		    <entity>
            <entity_name>COUNTRY</entity_name>
            <original_name>COUNTRY</original_name>
            <masking_type>Redact</masking_type>
        </entity>
        <entity>
            <entity_name>STATE</entity_name>
            <original_name>STATE</original_name>
            <masking_type>Redact</masking_type>
        </entity>
        <entity>
            <entity_name>LOCATION</entity_name>
            <original_name>LOCATION</original_name>
            <masking_type>Redact</masking_type>
        </entity>
    </algorithms>
    <dataset>
        <dataset_location>data/input</dataset_location>
        <data_output>data/output</data_output>
    </dataset>
</project>
